<h3>kolom1</h3>
<ul>
<li><a href='index'><img  alt="-" class="lijst" src="favicons/groen.gif">home</a></li>
<li><a href='links'><img  alt="-" class="lijst" src="favicons/groen.gif">links</a></li>
<li><a href='markdown'><img  alt="-" class="lijst" src="favicons/groen.gif">markdown</a></li>
<li><a href='voorbeeld'><img  alt="-" class="lijst" src="favicons/groen.gif">voorbeeld</a></li>
<li><a href='nieuw'><img  alt="-" class="lijst" src="favicons/groen.gif">nieuw</a></li>
<li><a href='extra'><img  alt="-" class="lijst" src="favicons/groen.gif">extra</a></li>
<li><a href='start'><img  alt="-" class="lijst" src="favicons/groen.gif">start</a></li>
<li><a href="//nl.wikipedia.org/wiki/Hoofdpagina" title="Wikipedia hoofdpagina" target="_blank">    <img  alt="-" class="lijst" src="favicons/groen.gif">Wikipedia</a></li>
</ul>
