<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <title>{{ site.title | default: site.github.repository_name }}</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="kopmenu" id="kopmenu2">
<ul class="nieuws-menu">
<li><a href='home'>home</a></li>
<li><a href='bash'>bash</a></li>
<li><a href='computer'>computer</a></li>
<li><a href='dagboek'>dagboek</a></li>
<li><a href='gezondheid'>gezondheid</a></li>
<li><a href='git'>git</a></li>
</ul>
</div> <!-- kopmenu -->	
    <div class="container">
      <header>
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        
      </header>
      <div class="midden">
      <article id="Artikel" class="tabcontent">
        <div id="submenu"></div>
        <h1>Artikelen</h1>
        
      {% for post in paginator.posts %}
         <p>
        <a href="{{- post.url | relative_url -}}">{{post.title}}</a><br>
           {{post.description}}
        </p>
      {% endfor %}

{% include paginator.html %}
        
      {{ content }}
        
       

      </article>
        <nav id="nav"><!-- menu -->
           <p>&nbsp;</p>
        {% include archive.html %}
        </nav>
      
      <footer>
        <p><a href="{{ "/" | absolute_url }}{{- site.rssfeed -}}" class="rssfeed"></a></p>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
        </div><!-- midden -->
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
