<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <title>{{ site.title | default: site.github.repository_name }}</title>
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/base.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/layout.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/skeleton.css?v=" | append: site.github.build_revision | relative_url }}">  
    <link rel="stylesheet" href="{{ "/assets/css/startstijl.css?v=" | append: site.github.build_revision | relative_url }}">
	  
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
  
<div class="container">
<div class="container"> <!-- extra container -->	
	
<div class="ten columns kop-links">
<h2>kop links</h2> <!-- kop links -->
</div>
	
<div class="ten columns kop-rechts">
<h2>kop rechts</h2> <!-- kop-rechts -->
</div>

<div class="sixteen columns onder-kop">
<p>onder kop</p> <!-- onder-kop -->
</div>
	
</div><!-- extra container -->	

<div 	class="three columns kolom1">
{% include kolom1.html %} <!-- kolom1 -->
</div>

<div 	class="four columns kolom2">
{% include kolom2.html %} <!-- kolom2 -->
</div>

<div 	class="four columns kolom3">
{% include kolom3.html %} <!-- kolom3 -->
</div>

<div 	class="four columns kolom4">
{% include kolom4.html %} <!-- kolom4 -->
</div>
	
<div 	class="five columns kolom5">
{% include kolom5.html %} <!-- kolom5 -->
</div>

</div><!-- container -->

<div class="container"> <!-- extra container -->
<!-- footer -->
<div class="sixteen columns footer">
{% include startfooter.html %} <!-- footer -->
</div>
</div><!-- extra container -->

  
  
<div class="container">
<div class="midden">
<article id="Artikel">
{{ content }}
</article>
</div><!-- midden -->
</div><!-- container -->

<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
